/* Begin CSS */
body{
    overflow-x: hidden;
}

main section:nth-of-type(2) img,
main section:nth-of-type(3) img {
        margin-left: 1em;
        padding-right: 2em;
        padding-top: 4em;
}

main section p {
    margin-top: 1em;
    display: flex;
    justify-content: center;
    font-family: CeraPro, sans-serif;
    font-weight: 400;
    color: #454545;
    text-align: center;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 1em;
    line-height: 1.6em;
    }

main section:nth-of-type(1) h2 {
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    font-family: CeraGR, sans-serif;
    font-weight: 400;
    color: #454545;
}

    main section:nth-of-type(1) h3 {
        font-family: Gotham, sans-serif;
        font-weight: 700;
        color: #454545;
        text-align: center;
        margin-left: 2.5em;
        margin-right: 2.5em;
        font-size: 0.9em;
        margin-top: 1.5em;
        margin-bottom: 2em;
    }


    main section:nth-of-type(2) h2 {
        font-family: CeraGR, sans-serif;
        font-weight: 700;
        color: #454545;
        text-align: center;
        font-size: 1.3em;
        margin-top: 1.5em;
        margin-left: 6em;
        margin-right: 6em;
    }

    main section:nth-of-type(3) h2 {
        font-family: CeraGR, sans-serif;
        font-weight: 700;
        color: #454545;
        text-align: center;
        font-size: 1.3em;
        margin-top: 1.5em;
        margin-left: 6em;
        margin-right: 6em;
    }

    main section:nth-of-type(3) button {
        position: absolute;
        text-align: center;
        padding: 1.5em;
        left: 4.7em;
        right: 4.7em;
        line-height: .2em;
        background-color: var(--button-color1);
        border: solid .20em black;
        font-family: CeraGR, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--color-text);
        margin-top: 1em;
    }

    main section:nth-of-type(3) button:hover {
        background-color: var(--button-hover-background-color1-2);
    }

    main section:nth-of-type(4) h2{
        font-family: CeraGR, sans-serif;
        font-weight: 700;
        color: #454545;
        text-align: center;
        font-size: 1.3em;
        margin-top: 1.5em;
        margin-left: 6em;
        margin-right: 6em;
    }

    main section:nth-of-type(4) img{
        margin-left: 1em;
        padding-right: 2em;
        padding-top: 7em;
    }




    main section:nth-of-type(5) {
        margin-top: 2em;
        background-color: #FFB1C7;
        padding: 3em 0 8em 0;
    }

    main section:nth-of-type(5) h2{
        font-family: CeraGR, sans-serif;
        font-weight: 700;
        color: black;
        text-align: center;
        font-size: 1.3em;
        margin-left: 3em;
        margin-right: 3em; 
    }

    main section:nth-of-type(5) button{
        position: absolute;
        text-align: center;
        padding: 1.5em;
        left: 4.7em;
        right: 4.7em;
        line-height: .2em;
        background-color: black;
        border: solid .20em black;
        font-family: CeraGR, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--color-white);
        margin-top: 2.5em;
    }

    main section:nth-of-type(5) button:hover{
        background-color: var(--button-hover-background-color1-2);
    }
    

    main section:nth-of-type(6)  {
        background-color: #ECDAE8;
        padding: 2.5em 0 6em 0;
    }
    
    main section:nth-of-type(6) h2 {
        font-family: CeraGR, sans-serif;
        font-weight: 700;
        color: #454545;
        text-align: center;
        font-size: 1.5em;
        margin-left: 2em;
        margin-right: 2em;
    }

    main section:nth-of-type(6) img:first-of-type {
        width: 15em;
       margin-left: 5em;
       margin-right: 5em;
       margin-bottom: 2.5em;
       margin-top: 2em;
    }

    main section:nth-of-type(6) img:last-of-type{
        width: 8em;
       margin-left: 8.5em;
       margin-bottom: 2.5em;
       margin-top: 6em;
    }

    
    main section:nth-of-type(6) button:first-of-type {
        position: absolute;
        text-align: center;
        padding: 1.5em;
        left: 4.7em;
        right: 4.7em;
        line-height: .2em;
        background-color: var(--button-color1);
        border: solid .20em black;
        font-family: CeraGR, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: var(	--color-text);
    }

    main section:nth-of-type(6) button:first-of-type:hover {
        background-color: var(--button-color3); 
    }

    main section:nth-of-type(6) button:last-of-type {
        position: absolute;
        text-align: center;
        padding: 1.5em;
        left: 4.7em;
        right: 4.7em;
        line-height: .2em;
        background-color: var(--button-color1);
        border: solid .20em black;
        font-family: CeraGR, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--color-text);
        margin-top: 20em;
    }

    main section:nth-of-type(6) button:last-of-type:hover{
        background-color: var(--button-color3); 
    }
    
    main section:nth-of-type(7) img {
        width: 8em;
       margin-left: 8.5em;
       margin-bottom: 1em;
       margin-top: 2.5em;
    }

    main section:nth-of-type(7) ul li {
        text-align: center;
        font-weight: 700;
        font-family: Gotham, sans-serif;
        padding-top: 1.5em;
    }

    section:nth-of-type(7) ul li p {
         text-transform: uppercase;
         font-size: 1.2em;
         color: black;
         font-family: Gotham, sans-serif;
         text-decoration: none;
         line-height: .5em;
         font-weight: bolder;
     }

     section:nth-of-type(7) ul li a { 
         text-align: center;
         text-transform: uppercase;
         font-weight: bolder;
         font-size: 1em;
         color: black;
     }

     main section:nth-of-type(8) {
        margin-top: 2em;
        background-color: #ECDAE8;
        padding: .5em 0 8em 0;
    }

    main section:nth-of-type(8) button {
        position: absolute;
        text-align: center;
        padding: 1.5em;
        left: 4.7em;
        right: 4.7em;
        line-height: .2em;
        background-color: var(--button-color1);
        border: solid .20em black;
        font-family: CeraGR, sans-serif;
        text-transform: uppercase;
        font-weight: bold;
        color: var(--color-text);
        margin-top: 2.5em;
    }
    
    main section:nth-of-type(8) button:hover{
        background-color: var(--button-color3); 
    }







