/* FONTS + CONVERTER */

/* https://www.glowrecipe.com */
/* https://cloudconvert.com/woff2-to-ttf  */

@font-face {
	font-family: 'CeraGR';
	src: url('../fonts/CeraGR-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'CeraGR';
	src: url('../fonts/CeraGR-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'CeraPro';
	src: url('../fonts/CeraPro-Light.ttf') format('truetype');
}


@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Book.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Playfair-Display';
	src: url('../fonts/Playfair-Display.ttf') format('truetype');
}

/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/


/* DE 5 STATES */
/* https://codepen.io/shooft/pen/vYvEaYm  */
:root {
	/* kleuren */
	--color-text: #111;
	--color-white: #fff;
	--color-background: #FBF5FA;

	/* Linkjes */
	--link-color:#111; 
	--link-visited-color: #CC8899;
	--link-background-color: #ff6ec7; /*deze niet*/
	--link-active-color:#00008B;
	 


	/* Buttons */
--button-color1: #fff;
--button-color2: #111;
--button-color3:#EDB4E0;

--button-hover-background-color1-2:#EDB4E0;
--button-hover-background-color3: #fff;

--button-focus-border-color:rgb(222, 6, 6); 

/* --button-focus-border-color:rgb(6, 114, 222);  */

/* Focus */
--form-focus-border-color:rgb(6, 114, 222); 
}

body {
	background-color: var(--color-background);
}

body.overflowHidden {
	overflow: hidden;
	/* filter: brightness(50%); */
}

/****************/
/* JOUW STYLING */
/****************/

header {
	position: sticky;
	top: 0;
	z-index: 999;
}

main {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

a {
	color:var(--link-color);
	text-decoration:none;
	outline:none;
}

 a:visited {
	color:var(--link-visited-color);
  }
  
  a:focus {
	/* background-color:var(--button-background-focus-color); */
	border-radius: .3em;
	border: 2px solid var(--button-focus-border-color);
  }
  
 a:hover {
	text-decoration:underline;
	text-decoration-thickness:2px;
	text-underline-offset: 2px;
  }
  
 a:active {
	/* als alles lekker snel gaat zie je dit niet */
	/* maar des te meer reden om de :active state wel te definieren */
	/* juist als iets traag verloopt, krijg je dan feedback */
	color:var(--link-active-color);
	text-decoration:underline;
	text-decoration-thickness:2px;
	text-underline-offset: 2px;
  }


  button:focus {
	border-radius: .3em;
	border: 2px solid var(--button-focus-border-color) ;
  }
  
  button:active {
	background-color:var(--button-background-active-color);
  }

  form:hover {
	cursor: text;
	}
	
	form:focus {
	border-radius: .3em;
	border: 2px solid var(--form-focus-border-color);
	}

  nav ul li a:hover {
	text-decoration:none;
	text-decoration-thickness:none;
	text-underline-offset:none;
  }

  nav ul li a:visited {
	color: unset;
  }



header>section {
	background-color: #F9EDF7;
}

marquee {
	font-family: CeraPro, sans-serif;
	font-size: .7em;
}

marquee ul {
	display: flex;
	gap: 20vw;
	list-style: none;
	padding: 0;
	margin: 0;
}

marquee strong {
	font-weight: normal;
	text-transform: uppercase;
}

header nav {
	background-color: white;
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	align-items: center;
	height: 3em;
}

/* logo */
header nav>a {
	height: .75em;
	display: block;
}

header nav>a img {
	height: 100%;
	display: block;
}

/* menu button */
header nav>button {
	width: 2em;
	aspect-ratio: 1/1;
	order: -1;

	display: grid;
	place-items: center;
}

header nav>button img {
	width: 1em;
	display: block;
}

header nav>ul {
	display: flex;
	align-items: center;
	justify-self: end;
}

header nav>ul li {
	height: 2em;
	aspect-ratio: 1/1;
	display: grid;
	place-items: center;
}

header nav>ul li button,
header nav>ul li a {
	font-size: 1em;
}

/*begin*/
header nav>ul li img {
	height: 1em;
	display: block;
}

header>section ul li {
	list-style: none;
	background-color: #F9EDF7;
	height: 3em;
	display: flex;
	align-items: center;
}

nav button {
	background-color: var(--color-white);
	border: none;
}

header nav>section {
	position: fixed;
	top: 0;
	right: 2.5em;
	bottom: 0;
	left: -100%;
	width: calc(100% - 2.5em);
	background-color: var(--color-white);
	transition: 1s;
}

header nav>section.showMenu {
	left: 0;
}

header nav>section>section:first-of-type{
	background-color: black;
	padding-top: .3em;
	padding-bottom: .3em;
}

header nav>section>section:first-of-type button {
	background-color: black;
}

header nav>section>section:first-of-type button {
	background-color: black;
	width: 1.2em;
	margin: .9em .5em .5em .9em;
}


header nav>section {
	display: flex;
	flex-direction: column;
	gap: 0.6em;
	text-transform: uppercase;
}

/* Bij iedere section behalve de bovenste balk komt er witruimte links en rechts */
header nav>section>*:not(section:first-of-type) {
	margin: 0 1em;
	font-family: Cerapro, sans-serif;
}

/* De bovenste 3 afbeeldingen naast elkaar zetten */
header nav>section>section:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.6em;
}

/*1/1 van eerste lijn tot laatste lijn in grid*/
header nav>section>section:nth-of-type(2) h2 {
	grid-column: 1/-1;
}

header nav>section>section:nth-of-type(2) img {
	border-radius: .4em;
	height: 10em;
	object-fit: cover;
}

header nav>section>section:nth-of-type(2) p {
	border-radius: 1em;
	width: 6em;
	height: fit-content;
	margin: 0.5em .5em 0 .5em;
}
/*EINDE HEADER*/

/*FOOTER BEGIN*/
footer {
	margin: 1.4em;
}

footer h3 {
	font-family: CeraGR, sans-serif;
	color: black;
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 2.5em;
	margin-bottom: 1em;
}

footer {
	font-family: CeraPro, sans-serif;
	/* color: #5f5f5f; */
	text-decoration: none;
	line-height: 2.5em;
	font-size: .9em;
	font-weight: 100;
}

footer p {
	font-family: CeraPro, sans-serif;
	color: #5f5f5f;
	text-decoration: none;
	font-size: .9em;
	font-weight: 100;
	margin-bottom: 2em;
}

form input[type="email"] {
	font-family: CeraPro, sans-serif;
	padding: .65em 5em .7em 1em;
	margin-right: -2em;
	border: 1px solid black;
}

form input[type="email"]::-webkit-search-clear-button {
    -webkit-appearance: button;
    color: red; /* You can set the color here, but it may not work in all browsers */
}

footer button {
	padding: 0.6em 2em;
	text-align: center;
	color: var(--color-white);
	background-color: black;
	border: solid .20em black;
	font-family: CeraGR, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

footer section ul {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

footer section a:focus {
padding-top: 1em;
}

footer section:nth-of-type(1) img {
	width: 1.5em;
}

footer section:nth-of-type(2) h3 {
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1.5em;
	font-size: 1em;
	text-transform: none;
}

footer section:nth-of-type(3) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


footer section:nth-of-type(3) img {
	width: 3.5em;
	height: auto;
	margin-top: -1em;
}

footer section:nth-of-type(3) p {
	font-family: CeraGR, sans-serif;
	color: #5f5f5f;
	margin-top: 1em;
	margin-left: .5em;
	font-weight: bolder;
}

footer section:nth-of-type(4) {
	margin-bottom: 5em;
}


footer section:nth-of-type(4) p {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.5em;
	line-height: 0em;
}

/*FOOTER EIND*/
