/* FONTS + CONVERTER */

/* https://www.glowrecipe.com */
/* https://cloudconvert.com/woff2-to-ttf  */

@font-face {
	font-family: 'CeraGR';
	src: url('../fonts/CeraGR-Regular.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'CeraGR';
	src: url('../fonts/CeraGR-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'CeraPro';
	src: url('../fonts/CeraPro-Light.ttf') format('truetype');
}


@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Bold.ttf') format('truetype');
	font-weight: 700;
}

@font-face {
	font-family: 'Gotham';
	src: url('../fonts/Gotham-Book.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: 'Playfair-Display';
	src: url('../fonts/Playfair-Display.ttf') format('truetype');
}

/**************/
/* CSS REMEDY */
/**************/

*,
*::after,
*::before {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
}

img {
	width: 100%;
	height: auto;
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/


/* DE 5 STATES */
/* https://codepen.io/shooft/pen/vYvEaYm  */
:root {
	/* kleuren */
	--color-text: #111;
	--color-white: #fff;
	--color-background: #FBF5FA;
	--color-sale: red; 	/* TEST NS toegevoegd */
	--color-pink:#ECDAE8; /* TEST NS toegevoegd (pagina aboutus) */
	--color-header: #fff;
	--color-marquee: #F9EDF7;
	--color-next: #fff;

	/* Linkjes */
	--link-color: #111;
	--link-visited-color: #CC8899;
	--link-background-color: #ff6ec7;
	/*deze niet*/
	--link-active-color: #00008B;
	--link-focus-color: green;



	/* Buttons */
	--button-color1: #fff;
	--button-color2: #111;
	--button-color3: #EDB4E0;

	--button-hover-background-color1-2: #EDB4E0;
	--button-hover-background-color3: #fff;

	--button-focus-border-color: rgb(222, 6, 6);

	/* --button-focus-border-color:rgb(6, 114, 222);  */

	/* Focus */
	--form-focus-border-color: rgb(6, 114, 222);
}

/* DARK LIGHT TEST NS */
@media (prefers-color-scheme:dark){
	:root{
		--color-text: rgb(255, 255, 255);
		--color-white: rgb(212, 212, 212);
		--color-background: #585858;
		--link-color:rgb(255, 255, 255); 
		--color-sale: white; 
		--color-pink:#844c78;
		--color-header:  rgb(120, 124, 145);
		--color-marquee: #000000;
		--color-next: #111;

	

		--button-color1: rgb(120, 124, 145);
		--button-color2: rgb(26, 26, 26);
		--button-color3:#d6c3d1;

	}}

body {
	background-color: var(--color-background);
}

body.overflowHidden {
	overflow: hidden;
	/* filter: brightness(50%); */
}

/****************/
/* JOUW STYLING */
/****************/

header {
	position: sticky;
	top: 0;
	z-index: 999;
}

main {
	display: flex;
	flex-direction: column;
}

li {
	list-style: none;
}

a {
	color: var(--link-color);
	text-decoration: none;
	outline: none;
}

a:visited {
	color: var(--link-visited-color);
}

a:focus-visible {
	border-radius: .3em;
	border: 2px solid var(--link-focus-color);
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}

a:active {
	/* als alles lekker snel gaat zie je dit niet */
	/* maar des te meer reden om de :active state wel te definieren */
	/* juist als iets traag verloopt, krijg je dan feedback */
	color: var(--link-active-color);
	text-decoration: underline;
	text-decoration-thickness: 2px;
	text-underline-offset: 2px;
}


button:focus-visible {
	border-radius: .3em;
	outline: 2px solid var(--button-focus-border-color);
	border-color: var(--button-focus-border-color);
}

button:active {
	background-color: var(--button-background-active-color);
}

form:hover {
	cursor: text;
}

form:focus {
	border-radius: .3em;
	border: 2px solid var(--form-focus-border-color);
}

header nav ul li a:hover {
	text-decoration: none;
	text-decoration-thickness: none;
	text-underline-offset: none;
}

header nav ul li a:visited {
	color: unset;
}



header>section {
	background-color: var(--color-marquee);
}

marquee {
	font-family: CeraPro, sans-serif;
	font-size: .7em;
	color: var(--color-text); /* NS TEST */
}

marquee ul {
	display: flex;
	gap: 20vw;
	list-style: none;
	padding: 0;
	margin: 0;
}

marquee strong {
	font-weight: normal;
	text-transform: uppercase;
}

header nav {
	background-color: var(--color-header); 	/* test NS (was white, nu wordt marquee ook wit) */
	display: grid;
	grid-template-columns: 1fr max-content 1fr;
	align-items: center;
	height: 3em;
}

/* logo */
header nav>a {
	height: .75em;
	display: block;
}

header nav>a img {
	height: 100%;
	display: block;
}

/* menu button */
header nav>button {
	width: 2em;
	aspect-ratio: 1/1;
	order: -1;

	display: grid;
	place-items: center;
}

header nav>button img {
	width: 1em;
	display: block;
}

header nav>ul {
	display: flex;
	align-items: center;
	justify-self: end;
}

header nav>ul li {
	height: 2em;
	aspect-ratio: 1/1;
	display: grid;
	place-items: center;
}

header nav>ul li button,
header nav>ul li a {
	font-size: 1em;
}

/*begin*/
header nav>ul li img {
	height: 1em;
	display: block;
}

header>section ul li {
	list-style: none;
	background-color: var(--color-marquee); 	/* TEST NS */
	height: 3em;
	display: flex;
	align-items: center;
}

nav button {
	/* TEST NS */
    background-color: var(--color-header);
	border: none;
}

header nav>section {
	position: fixed;
	top: 0;
	right: 2.5em;
	bottom: 0;
	left: -100%;
	width: calc(100% - 2.5em);
	background-color: var(--color-white);
	transition: 1s;
}

header nav>section.showMenu {
	left: 0;
	overflow-y: scroll;
	background-color: var(--color-header); /* NS TEST */
	color: var(--color-text); /* NS TEST */
}

header nav>section>section:first-of-type {
	background-color: black;
	padding-top: .3em;
	padding-bottom: .3em;
	margin-bottom: 1em;
}

header nav>section>section:first-of-type button {
	background-color: black;
}

header nav>section>section:first-of-type button {
	background-color: black;
	width: 1.2em;
	margin: .9em .5em .5em .9em;
}


header nav>section {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
}

/* Bij iedere section behalve de bovenste balk komt er witruimte links en rechts */
header nav>section>*:not(section:first-of-type) {
	margin: 0 1em;
}

/* De bovenste 3 afbeeldingen naast elkaar zetten */
header nav>section>section:nth-of-type(2) {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 0.6em;
	margin-bottom: 1em;
}

/*1/1 van eerste lijn tot laatste lijn in grid*/
header nav>section>section:nth-of-type(2) h2 {
	grid-column: 1/-1;
	font-family: Cerapro, sans-serif;
}

header nav>section>section:nth-of-type(2) img {
	border-radius: .4em;
	height: 10em;
	object-fit: cover;
}

header nav>section>section:nth-of-type(2) p {
	border-radius: 1em;
	width: 6em;
	height: fit-content;
	margin: 0.5em .5em 0 .5em;
}



/* UITKLAP CSS BEGIN */

header details summary {
	font-size: .9em;
	color: var(--color-text); /* NS TEST */
}

header details {
	font-size: .8em;
	padding: 0.7em 0 0.1em 1em;
	font-weight: 600;
	border-bottom: 0.01em solid black;
	transition: .3s ease-in;
	font-family: Gotham, sans-serif;
	color: var(--color-text); /* NS TEST */
}

header details:nth-of-type(1) {
	border-top: 0.01em solid black;
}

header details[open] {
	padding: 1em 0 1em 1em;
}

header details ul li a {
	line-height: 2.5em;
	font-weight: 700;
	font-size: .7em;
	margin-left: 1.2em;
}

header summary::-webkit-details-marker {
	display: none;
}

header summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1em;
	list-style: none;
}

header summary::after ul li {
	font-size: 1em;
}

header summary::after {
	content: "+";
	font-weight: 400;
	font-size: 1em;
	background-position: center center;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2em;
	aspect-ratio: 1;
	transition: .3s ease-out;
}

header details[open] summary::after {
	content: "-";
}

.showMenu section:nth-of-type(3),
.showMenu section:nth-of-type(5),
.showMenu section:nth-of-type(6),
.showMenu section:nth-of-type(7) {
	font-family: Gotham, sans-serif;
	font-weight: 600;
	font-size: .8em;
	color: var(--color-text); /* NS TEST */
	border-bottom: 0.01em solid black;
	padding: 0.7em 0 0.7em 1em;
}

.showMenu section:nth-of-type(4) {
	background-color: #F197CB;
	font-family: Gotham, sans-serif;
	font-weight: 600;
	font-size: .8em;
	color: var(--color-text); /* NS TEST */
	padding: .7em;
	border-bottom: 0.01em solid black;
	padding: 0.7em 0 0.7em 1em;
}




/* UITKLAP CSS EIND */



/*EINDE HEADER*/

/*FOOTER BEGIN*/
footer {
	margin: 1.4em;
}

footer h3 {
	font-family: CeraGR, sans-serif;
	color: var(--color-text); 	/* TEST DARK LIGHT NS */
	text-decoration: none;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 2.5em;
	margin-bottom: 1em;
}

footer {
	font-family: CeraPro, sans-serif;
	/* color: #5f5f5f; */
	text-decoration: none;
	line-height: 2.5em;
	font-size: .9em;
	font-weight: 100;
}

footer p {
	font-family: CeraPro, sans-serif;
	color: var(--color-text); 	/* TEST DARK LIGHT NS */
	text-decoration: none;
	font-size: .9em;
	font-weight: 100;
	margin-bottom: 2em;
}

form input[type="email"] {
	font-family: CeraPro, sans-serif;
	padding: .65em 5em .7em 1em;
	margin-right: -2em;
	border: 1px solid black;
}

footer button {
	padding: 0.6em 2em;
	text-align: center;
	color: var(--color-white);
	background-color: black;
	border: solid .20em black;
	font-family: CeraGR, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

footer section ul {
	display: flex;
	flex-direction: row;
	gap: 1em;
	align-items: center;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

footer section a:focus {
	padding-top: 1em;
}

footer section:nth-of-type(1) img {
	width: 1.5em;
}

footer section:nth-of-type(2) h3 {
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1.5em;
	font-size: 1em;
	text-transform: none;
}

footer section:nth-of-type(3) {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}


footer section:nth-of-type(3) img {
	width: 3.5em;
	height: auto;
	margin-top: -1em;
}

footer section:nth-of-type(3) p {
	font-family: CeraGR, sans-serif;
	color: var(--color-text); 	/* NS TEST */
	margin-top: 1em;
	margin-left: .5em;
	font-weight: bolder;
}

footer section:nth-of-type(4) {
	margin-bottom: 5em;
}


footer section:nth-of-type(4) p {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 1.5em;
	line-height: 0em;
}

/*FOOTER EIND*/