main {
	gap: 1em;
}

/*eerste 3 fotos*/
main section:nth-of-type(1) {
    width: 100%;
    position: relative;
    overflow: hidden;
}
  
main section:nth-of-type(1) ul {
    display: flex;
}
main section:nth-of-type(1) ul.sliding-transition {
    transition: transform 0.5s ease-in-out;
}
  
main section:nth-of-type(1) ul li {
    position: relative;
    flex: 1;
}
  
main section:nth-of-type(1) ul li img {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}
 
/* pijltjes */
main section:nth-of-type(1) > button {
    position: absolute;
    top: 45%;
    font-family: CeraGR;
    font-size: 3em;
    color: var(--color-white);
    background-color: transparent;
    border: none;
    z-index: 10;
    cursor: pointer;
}
/* pijltje naar rechts */
main section:nth-of-type(1) > button:first-of-type {
    right: 2%;
}
/* pijltje naar links */
main section:nth-of-type(1) > button:last-of-type {
    left: 2%;
}
 
section:nth-of-type(2) p {
    display: none;
}
 
h3 {
    font-family: CeraGR;
    font-weight: 400;
    font-size: .8em;
}
 
 
header section ul li {
    list-style: none;
    background-color: #F9EDF7;
    height: 3em;
    display: flex;
    align-items: center;
}
 
main section:nth-of-type(1) {
    position: relative;
}
 
main section:nth-of-type(1) ul li button {
    position: absolute;
    left: 5em;
    right: 5em;
    bottom: 3em;
    padding: 1.5em;
    height: 2em;
    text-align: center;
    line-height: .2em;
    background-color: var(--color-white);
    border: solid .20em black;
    font-family: CeraGR, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
}
 
main section:nth-of-type(3) {
    margin: 1em;
}
  /*einde fotos slider*/


section:nth-of-type(2) p {
	display: none;
}

h3 {
	font-family: CeraGR;
	font-weight: 400;
	font-size: .8em;
}

main section:nth-of-type(1) {
	position: relative;
}

main section:nth-of-type(3) {
	margin: 1em;
}

main section:nth-of-type(3) ul  {
	display: flex;
	list-style: none;
	width: 100%;
    align-items: flex-start;
	/* https://codepen.io/newinweb/pen/EpPgdR */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
}

main section:nth-of-type(3) ul::-webkit-scrollbar {
	display: none; /* WebKit (Chrome, Safari, etc.) */
	}

main section:nth-of-type(3) ul li {
	list-style: none;
	background-color: var(--color-white);
	padding: 0.75em;
	border-radius: .5em;
	flex-direction: column; 
	display:flex;
	gap:1em ;
	width: 100px;
	flex-shrink: 0;
	height: 10em;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}


ul li h3 {
	text-transform: uppercase;
}

main ul li img {
	border-radius: .5em;
	order:-1;
}

main section:nth-of-type(4) {
	margin: 1em;
}

main section:nth-of-type(4) ul  {
	display: flex;
	list-style: none;
	width: 100%;
    align-items: flex-start;
	/* https://codepen.io/newinweb/pen/EpPgdR */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
}

main section:nth-of-type(4) ul::-webkit-scrollbar {
	display: none; /* WebKit (Chrome, Safari, etc.) */
	}

main section:nth-of-type(4) ul li {
	list-style: none;
	border-radius: .5em;
	flex-direction: column; 
	display:flex;
	gap: .1em;
	position: relative;
	width: 150px;
	flex-shrink: 0;
	margin-bottom: 4em;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

main section:nth-of-type(4) ul li h3{
	margin-top: .5em;
	font-family: CeraGR, sans-serif;
	font-weight: bold;
	text-transform: none;
}

main section:nth-of-type(4) ul li p{
	font-family: CeraGR, sans-serif;
	font-size: .7em;
	right: 0.3em;
	top: 0.5em;
	background-color: white;
	padding-left: .8em;
	padding-right: .8em;
	padding-top: .3em;
	padding-bottom: .3em;
	font-weight: bold;
	text-transform: none;
	position: absolute;
}

main section:nth-of-type(4) ul li button{
	position: absolute;
	font-family: CeraGR, sans-serif;
	margin-top: 22em;
	font-size: .7em;
	padding: 1.2em;
	width: 150px;
	word-spacing: .8em;
	border-color: black;
	background-color: white;
	font-weight: bold;
	text-transform: none;
	border-radius: .5em;
}

main section:nth-of-type(4) ul li s {
	font-family: CeraGR, sans-serif;
	color: red;
	font-size: 1em;
	font-weight: lighter;
	text-transform: none;
}

main section:nth-of-type(5) {
	position: relative;
	margin-bottom: 2em;
}

main section:nth-of-type(5) button {
	position: absolute;
	text-align: center;
	padding: 1.5em;
	height: 2em;
	left: 5em;
	right: 5em;
	bottom: 2em;
	line-height: .2em;
	background-color: var(--color-white);
	border: solid .20em black;
	font-family: CeraGR, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

main section:nth-of-type(6) {
    margin: 1em;
}

main section:nth-of-type(6) ul  {
	display: flex;
	list-style: none;
	width: 100%;
    align-items: flex-start;
	/* https://codepen.io/newinweb/pen/EpPgdR */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(6) ul::-webkit-scrollbar {
	display: none; /* WebKit (Chrome, Safari, etc.) */
	}

main section:nth-of-type(6) ul li {
	list-style: none;
	border-radius: .5em;
	flex-direction: column; 
	display:flex;
	gap: .1em;
	position: relative;
	width: 150px;
	flex-shrink: 0;
	margin-bottom: 4em;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

main section:nth-of-type(6) ul li h3{
	margin-top: .5em;
	font-family: CeraGR, sans-serif;
	font-weight: bold;
	text-transform: none;
}

main section:nth-of-type(6) ul li p{
	font-family: CeraGR, sans-serif;
	font-size: .7em;
	right: 0.3em;
	top: 0.5em;
	background-color: white;
	padding: 0.3em 0.8em;
	font-weight: bold;
	text-transform: none;
	position: absolute;
}

main section:nth-of-type(6) ul li button{
	position: absolute;
	font-family: CeraGR, sans-serif;
	margin-top: 22em;
	font-size: .7em;
	padding: 1.2em;
	width: 150px;
	word-spacing: .8em;
	border-color: black;
	background-color: white;
	color: black;
	font-weight: bold;
	text-transform: none;
	border-radius: .5em;
}

main section:nth-of-type(6) ul li s {
	font-family: CeraGR, sans-serif;
	color: red;
	font-size: 1em;
	font-weight: lighter;
	text-transform: none;
}

main section:nth-of-type(7) {
	position: relative;
	margin-bottom: 2em;
}


main section:nth-of-type(7) button {
	position: absolute;
	text-align: center;
	padding: 1.5em;
	height: 2em;
	left: 4.7em;
	right: 4.7em;
	bottom: 1.4em;
	line-height: .2em;
	background-color: var(--color-white);
	border: solid .20em black;
	font-family: CeraGR, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

/*tekst op foto screenreader*/
section:nth-of-type(8) p {
	display: none;
}

main section:nth-of-type(9) {
    margin: 1em;
}

main section:nth-of-type(9) ul  {
	display: flex;
	list-style: none;
	width: 100%;
    align-items: flex-start;
	/* https://codepen.io/newinweb/pen/EpPgdR */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: 1em;
	margin-bottom: 1em;
}

main section:nth-of-type(9) ul::-webkit-scrollbar {
	display: none; /* WebKit (Chrome, Safari, etc.) */
	}

main section:nth-of-type(9) ul li {
	list-style: none;
	border-radius: .5em;
	flex-direction: column; 
	display:flex;
	gap: .1em;
	position: relative;
	width: 150px;
	flex-shrink: 0;
	margin-bottom: 4em;
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

main section:nth-of-type(9) ul li h3{
	margin-top: .5em;
	font-family: CeraGR, sans-serif;
	font-weight: bold;
	text-transform: none;
}

main section:nth-of-type(9) ul li p{
	font-family: CeraGR, sans-serif;
	font-size: .7em;
	right: 0.3em;
	top: 0.5em;
	background-color: white;
	padding-left: .8em;
	padding-right: .8em;
	padding-top: .3em;
	padding-bottom: .3em;
	font-weight: bold;
	text-transform: none;
	position: absolute;
}

main section:nth-of-type(9) ul li button{
	position: absolute;
	font-family: CeraGR, sans-serif;
	margin-top: 22em;
	font-size: .7em;
	padding: 1.2em;
	width: 150px;
	word-spacing: .8em;
	border-color: black;
	background-color: white;
	font-weight: bold;
	text-transform: none;
	border-radius: .5em;
}

main section:nth-of-type(9) ul li s {
	font-family: CeraGR, sans-serif;
	color: red;
	font-size: 1em;
	font-weight: lighter;
	text-transform: none;
}

h1 {
	font-family: CeraGR, sans-serif;
	font-size: 2.5em;
	text-transform: uppercase;
	text-align: center;
}

main section:nth-of-type(10)  {
	position: relative;
}

main section:nth-of-type(10) p {
	font-family: CeraPro, sans-serif;
	font-size: 0.9em;
	text-align: center;
	margin-top: 1.5em;
	margin-left: 1.8em;
	margin-right: 1.8em;
}


main section:nth-of-type(10) button {
	position: absolute;
	text-align: center;
	padding: 1.5em;
	height: 2em;
	left: 4.7em;
	right: 4.7em;
	bottom: -4.5em;
	line-height: .2em;
	background-color: var(--color-white);
	border: solid .20em black;
	font-family: CeraGR, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

section:nth-of-type(11) h2 {
	margin-top: 4em;
	text-align: center;
	font-family: CeraGR, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}

main section:nth-of-type(12) ul  {
	display: flex;
	list-style: none;
	width: 100%;
    align-items: flex-start;
	/* https://codepen.io/newinweb/pen/EpPgdR */
	overflow-x: auto;
	scroll-snap-type: x mandatory;
	overscroll-behavior-x: contain;
	gap: .2em;
	margin-bottom: 1em;
}

main section:nth-of-type(12) ul::-webkit-scrollbar {
	display: none; /* WebKit (Chrome, Safari, etc.) */
	}

main section:nth-of-type(12) ul li {
	list-style: none;
	border-radius: none;
	flex-direction: column; 
	display:flex;
	position: relative;
	width: calc(33% - 0.1em);
	flex-shrink: 0;
	/* nieuwe code */
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

main section:nth-of-type(12) img {
    width: 100%;
	aspect-ratio: 1 / 1;
    object-fit: cover;
	border-radius: 0;
}

main section:nth-of-type(13)  {
	position: relative;
}

main section:nth-of-type(13) button {
	position: absolute;
	text-align: center;
	padding: 1.5em;
	height: 2em;
	left: 4.7em;
	right: 4.7em;
	bottom: -3.5em;
	line-height: .2em;
	color: var(--color-white);
	background-color: black;
	border: solid .20em black;
	font-family: CeraGR, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
}


main section:nth-of-type(14) {
	content: "";
	display: block;
	border-bottom: 1px solid #000;
	margin-top: 4em;
}



